<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Remover Categoria</title>
</head>
<body>
	<div layout:fragment="conteudo">
		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<h1>Remover</h1>
			<h2>Você tem certeza que quer remover a usuário:</h2>
			<div class="mb-3">
				<label for="id" class="form-label">Código: <span th:text="${reserva.id}"></span></label>
			</div>
			<input type="hidden" name="id" th:value="${reserva.id}">

			<div class="mb-3">
				<label for="produto" class="form-label">Produto: <span th:text="${reserva.produto.produto}"></span></label>
			</div> 
			<input type="hidden" name="codigoProduto" th:value="${reserva.produto.id}">

			<div class="mb-3">
				<label for="reserva" class="form-label">Reserva: <span th:text="${reserva.reserva.user.username}"></span></label>
			</div> 
			<input type="hidden" name="codigoReserva" th:value="${reserva.reserva.id}">


			<form th:action="@{/reserva/remover}" method="post">
				 <input type="hidden" name="id" th:value="${reserva.id}">
				<input type="hidden" name="codigoProduto" th:value="${reserva.produto.id}">
				<input type="hidden" name="codigoReserva" th:value="${reserva.reserva.id}"> 
				<button type="submit" class="btn btn-danger">Remover</button>
			</form>
		</main>
	</div>
</body>
</html>